.create-button {
    width: 10vw;
    height: 5vh;

    position: absolute;
    right: 5vw;
    top: 17vh;
    border-radius: 1.5625rem;
    
    background: white;
    border: 1px solid var(--default-ui-active-stroke, #D9D9D9);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    padding-right: 1.5vw;

    box-sizing: border-box;

    &:hover {
        background: #D9D9D9;
    }


    img {
        width: 1.75vw;
        height: 3vh;
    }

    p {
        font-family: Noto Sans;
        font-style: normal;
        font-weight: 300;
        font-size: 1vmax;
        letter-spacing: -0.04rem;
    }

}

.common-button {
    width: 5vw;
    height: 5vh;

    background: white;

    border-radius: 2rem;
    border: 1px solid var(--default-ui-active-stroke, #D9D9D9);

    margin-right: 1vw;

    font-family: Noto Sans;
    font-size: 1vmax;
    font-weight: 300;
    letter-spacing: -0.04rem;

    box-sizing: border-box;

    transition: all 0.2s ease;

    &:active {
        padding: 5px;
    }

}

.popup-cancel {
    position: absolute;
    bottom: 2vh;
    right: 6vw;
}

.popup-done {
    position: absolute;
    bottom: 2vh;

    font-family: Noto Sans;
    font-size: 1vmax;
    font-weight: 700;
    letter-spacing: -0.04rem;

    border: 0;
    background: var(--hero-button-active, #FFAD33);

}

.popup-next {
    position: absolute;
    bottom: 2vh;

    font-family: Noto Sans;
    font-size: 1vmax;
    font-weight: 700;
    letter-spacing: -0.04rem;

    border: 0;
    background: var(--hero-button-active, #FFAD33);
}

#test-back {
    position: absolute;
    left: 5vw;
    bottom: 4vh;

    width: 8vw;

    display: flex;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;
}

#test-next {
    position: absolute;
    right: 5vw;
    bottom: 4vh;

    width: 8vw;

    display: flex;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;

    &:hover {
        background: #D9D9D9;
    }
}