
.ground {
    width: 100vw;
    height: 100vh;
    background:#f0f0f0;
    flex-shrink: 0;

}

.test-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background: var(--common-white-main, #FFF);
    
    width: 80vw;
    height: 95vh;

    display: flex;
    flex-direction: column;

    justify-content: center;

    
}


.sec1 {
    width: 100%;
    height: 15%;

    display: flex;
    justify-content: center;
    align-items: flex-end;

    .prompt-box {
        width: 80%;
        height: 50%;

        border: 1px solid var(--secondary, #121212);

        display: flex;
        align-items: center;
        justify-content: center;

        font-size: 1.75vmin;
    }
}

.sec2 {

    width: 100%;
    height: 65%;

    display: flex;
    align-items: center;

    .image {

        width: 50%;
        height: 100%;

        display: flex;
        justify-content: center;
        align-items: center;
        
        position: relative;

        .test-image {

            box-sizing: border-box;

            position: relative;

            width: 27.8vw;
            height: 51.1vh;

            transition: all 0.2s ease;

            #image-1 {
                width: 100%;
                height: 100%;
            }

            #image-2 {
                width: 100%;
                height: 100%;
            }

            &:hover{
                border: 0.2rem solid orange;
            }
        }

        .check {
            position: absolute;
            right: 0.7vw;
            top: 1.27vh;

            width: 2vw;
            height: 4vh;
            z-index: 99;
        }
    }
}

.sec3 {

    width: 100%;
    height: 20%;

    display: flex;
    align-items: center;

    flex-direction: column;

    .likert-container {

        border: 1px solid black;
        display: flex;
        justify-content: space-around;
        align-items: center;

        width: 35.3vw;
        height: 10vh;

        border-radius: 4px;

        padding: 2vh 1.7vw 0.1vh 1.7vw;

        .radio-item {

            width: 5.5vw;
            height: 6vh;


            border: 1px solid black;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            font-size: 0.7vw;
            font-weight: 400;

        }


    }
}
