.overlay {
    visibility: hidden;
    opacity: 0;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background: rgba(0, 0, 0, 0.7);
    width: 100vw;
    height: 100vh;
    z-index: 999;

    display: flex;
    justify-content: center;
    align-items: center;
}


.popup {
    background: #fff;
    border-radius: 1rem;

    width: 35vw;
    height: 50vh;
    position: relative;

    transition: all 1s ease-in-out;

    display: flex;
    flex-direction: column;

    .popup-title {
        border-bottom: 1px solid var(--default-ui-active-stroke, #D9D9D9);
        border-radius: 1rem 1rem 0 0;

        display: flex;
        background: var(--pop-up-background, #F7F7F7);
        align-items: center;
        padding: 1rem;
        
        font-weight: 700;
    }

    // 팝업
    
    .desc-insert {
        position: absolute;

        font-size: 2.2vmin;
    }

    #admincode{
        bottom: 8vh;      
    }

    #test-files {
        top: 2vh;
    }

    #method-sel {
        top: 13vh;
    }


    .insert-container {
        width: 100%;
        position: relative;
    }

    .insert-info {
        background-color: #fff;
        width: max-content;
        height: max-content;

        padding-left: 0.5rem;
        padding-right: 0.5rem;

        display: flex;
        justify-content: center;

        font-family: Lexend;
        font-size: 1vmax;
        font-weight: 300;

        z-index: 99;

        position: absolute;
        bottom: 4.5vh;
        left: 1vw;
    }

    #test-dir1 {
        background: none;
    }

    #test-dir2 {
        background: none;
    }

    #test-csv {
        background: none;
    }


    .popup-input {

        width: 100%;
        height: 5vh;
        border-radius: 0.25rem;
        border: 1px solid var(--default-ui-active-stroke, #D9D9D9);
        
        &:focus {
            outline: none !important;
            border-color: #FFAA00;
        }
    }


    #popup-test-password {
        // width: 32vw;
    }

    #popup-test-admin-code {
        // width: 32vw;
    }


    .methods {
        width: 100%;

        fieldset {
            border: 0;

            margin: 0;
            padding: 0;

            width: 80%;
            height: 100%;
            
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            transition: all 0.2s ease;

            img {
                border-radius: 4px;
                height: 10vh;

                &:hover {
                    background: #F7F7F7;
                }
            }
        
            #likert {
                border-radius: 4px;
                height: 10vh;

                &:hover {
                    background: #F7F7F7;
                }
            }
        }
    }


    // popup-section

    .sec1 {

        width: 100%;
        height: 100%;

        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        flex-direction: column;

        position: relative;

        box-sizing: border-box;

        padding-left: 2vw;
        padding-right: 2vw;

    }

    .sec2 {
        margin: 0;
        
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        height: 10vh;

        margin-bottom: 0.5vh;
    }


    // images
    #upload1 {
        position: absolute;
        right: 3vw;
        top: 10vh;
    }

    #upload2 {
        position: absolute;
        right: 3vw;
        top: 19.5vh;
    }

    #upload3 {
        position: absolute;
        right: 3vw;
        top: 29vh;
    }



}
  

