.search-bar {
    height: 5vh;
    width: 18vw;

    position: absolute;
    top: 17vh;
    left: 18.65vw;

    border-radius: 0.25rem;
    border: 1px solid var(--default-ui-active-stroke, #D9D9D9);
    
    
    &:focus {
        outline: none !important;
        border-color: #FFAA00;
    }
    

}