
.test-container {
    
    width: 80vw;
    height: 95vh;

    border-radius: 0.75rem;
    background: var(--common-white-main, #FFF);

    margin-left: 2.75vw;
    margin-top: 2.5vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    

    .project-name {
        width: 100%;
        height: 10vh;
        
        border-bottom: 1px solid #D9D9D9;;

        display: flex;
        align-items: center;

        font-family: Noto Sans;
        font-weight: 700;
        font-style: normal;
        font-size: 2vmax;
    }

    .temp-container {
        position: relative;

        width: 100%;

        padding-bottom: 10vh;

    }
    
    #content-header {
        position: absolute;

        top: 25vh;

        width: 75vw;
        height: 5vh;

        border-radius: 0.25rem 0.25rem 0rem 0rem;
        border-bottom: 1px solid var(--default-ui-active-stroke, #D9D9D9);
        background: var(--list-header-active, #F7F7F7);

        display: flex;
        align-items: flex-start;
        flex-direction: row;
        justify-content: center;
        flex-shrink: 0;

        font-family: Noto Sans;
        font-size: 0.75rem;
        font-weight: 500;
        letter-spacing: -0.03rem;
        text-transform: uppercase;
        color: var(--list-header-font-active, #828282);
        
        #name {
            position: absolute;
            left: 8vw;
        }

        #dir1 {
            position: absolute;
            left: 20vw;
        }

        #dir2 {
            position: absolute;
            left: 33.5vw;
        }

        #partic {
            position: absolute;
            right: 25vw;
        }

        #date {
            position: absolute;
            right: 17vw;
        }
    }

    .test-content-container {
        
        width: 75vw;
        height: 60vh;

        margin-top: 6vh;

        display: flex;
        flex-direction: column;
        overflow-y: scroll;

        .test-item{
            font-family: Noto Sans;
            font-size: 0.75rem;
            font-weight: 500;
            letter-spacing: -0.03rem;

            flex-shrink: 0;

            width: 100%;
            height: 5vh;
            border-bottom: 1px solid var(--default-ui-active-stroke, #D9D9D9);

            display: flex;
            align-items: center;
            position: relative;

            

            #name {
                width: 10vw;
                height: 5vh;

                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                left: 4vw;
                font-size: 1.5vmin;
            }
    
            #dir1 {
                display: flex;
                justify-content: center;
                align-items: center;

                position: absolute;
                left: 15.5vw;
                font-size: 1.5vmin;

                width: 13vw;
                height: 5vh;
            }
    
            #dir2 {
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                left: 29vw;
                font-size: 1.5vmin;

                width: 13vw;
                height: 5vh;
            }
    
            #partic {
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                right: 25vw;
                font-size: 1.5vmin;

                width: 5vw;
                height: 5vh;
            }
    
            #date {

                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                right: 13.5vw;
                font-size: 1.5vmin;

                width: 10vw;
                height: 5vh;
            }

            #play {
                position: absolute;
                right: 10vw;
                top: 0.5vh;
                width: 4vmin;
            }
            
            #result {
                position: absolute;
                top: 0.5vh;
                right: 6vw;
                width: 4vmin;
            }
        }
        
    }

}

